version: "3.9"

services:
  db:
    image: postgres:16
    container_name: question-answer-api-db
    restart: always
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: question-answer-api-app
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: app
      DB_PASSWORD: app
      DB_NAME: app
      DB_PORT: "5432"
    ports:
      - "8080:8080"
    command: ["./app"]  # или твоя команда запуска приложения

volumes:
  postgres-data:
